<!DOCTYPE html>
<html ng-app="serverApp">
  <head>
    <title>Firebase Event Bus: Server App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/server.css" rel="stylesheet"/>
  </head>
  <body class="container">
    <div class="row">
      <div ng-controller="ServerCtrl as server">
        <h1>Server Side</h1>
        <hr/>
        <div class="well">
          <h4>Add Order</h4>

          <form class="form-inline" role="form" novalidate ng-submit="server.createOrder(server.newOrder.title, server.newOrder.description)">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="server.newOrder.title" placeholder="Enter title">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="server.newOrder.description" placeholder="Enter description">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
          </form>
        </div>
        <hr/>
        <table class="table edit">
          <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="(orderId, order) in server.orders">
            <td>{{orderId}}</td>
            <td>
              <input type="text" ng-model="order.title" ng-blur="updateOrder(orderId, order.title, order.description)"/>
            </td>
            <td>
              <input type="text" ng-model="order.description" ng-blur="updateOrder(orderId, order.title, order.description)"/>
            </td>
            <td>
              <button class="btn-link" ng-click="removeOrder(orderId)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>

    <script src="js/server.js"></script>
  </body>
</html>